﻿@using OhmsCalculator.Core.Enumerations
@model OhmsCalculator.Core.Features.CalculateOhms.CalculateQuery
@{
    ViewBag.Title = "Ohm Calculator";
}
<div class="row">
    <div class="col-xs-12">
        <h1>Ohm Calculator</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xs-12">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label class="col-xs-12" for="firstColorBand">First Color Band</label>
                <div class="col-xs-12">
                    @Html.DropDownListFor(m => m.FirstBandId, ElectronicColor.GetSignificantValuesElectronicColors().Select(c => new SelectListItem {Value = c.Value.ToString(), Text = c.DisplayName}), new {@id = "firstColorBand", @class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12" for="secondColorBand">Second Color Band</label>
                <div class="col-xs-12">
                    @Html.DropDownListFor(m => m.SecondBandId, ElectronicColor.GetSignificantValuesElectronicColors().Select(c => new SelectListItem {Value = c.Value.ToString(), Text = c.DisplayName}), new {@id = "secondColorBand", @class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12" for="thirdColorBand">Third Color Band</label>
                <div class="col-xs-12">
                    @Html.DropDownListFor(m => m.ThirdBandId, ElectronicColor.GetMultiplierElectronicColors().Select(c => new SelectListItem {Value = c.Value.ToString(), Text = c.DisplayName}), new {@id = "thirdColorBand", @class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12" for="fourthColorBand">Fourth Color Band</label>
                <div class="col-xs-12">
                    @Html.DropDownListFor(m => m.FourthBandId, ElectronicColor.GetToleranceElectronicColors().Select(c => new SelectListItem {Value = c.Value.ToString(), Text = c.DisplayName}), new {@id = "fourthColorBand", @class = "form-control"})
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-default" id="submit">Submit</button>
                </div>
            </div>
        }
    </div>
    <div class="col-md-6 col-xs-12" style="visibility: hidden" id="results">
        <h3>Results</h3>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label">Exact Value</label>
                <div class="col-sm-8">
                    <p class="form-control-static" id="exactOhmValue"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Minimum Value</label>
                <div class="col-sm-8">
                    <p class="form-control-static" id="minimumOhmValue"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Maximum Value</label>
                <div class="col-sm-8">
                    <p class="form-control-static" id="maximumOhmValue"></p>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script>
        define('modelData', function() {
            return {};
        });
    </script>
}